body{
    margin: 0px;
    text-align: center;
    font-family: 'Merriweather', serif;
}

::selection{
    background-color: #E4F9F5;
}

h1{
    /* width: 150px; */
    padding-top: 12%;
    padding-bottom: 30px;
    margin: 0px auto 0 auto;
    font-family: 'Sacramento', cursive;
    color: #048e75;
    font-size: 80px;
    font-weight: lighter;
}
#head-para{
    position: relative;
    margin-top: -10px;
    color: #048e75;
    z-index: 30;
}
h2{
    font-family: 'Montserrat', sans-serif;
    color: #048e75;
    font-size: 30px;
}

h3{
    font-family: 'Montserrat', sans-serif;
    color: #048e75;
}
.top-container{
    background-color: #E4F9F5;
    position: relative;
}

.middle-container{
    margin-top: 8%;

}

#right{
    top: 160px;
    right: 200px;
    float: right;
}

#left{
    top: -40px;
    left: 240px;
}

#mountain{
    margin-top: 20px;
    max-inline-size: 100%;
    object-fit: contain;
}

#menu-bar{
    position: relative;
    background-color: #E4F9F5;
    z-index: 3;
}
#img-container img{
    width: 80px;
    float: left;
    padding: 25px 20% 20px 15%;
}

#nav-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    height: 80px;
    padding: 25px 10% 20px 0px;
}
ul{
    margin: 0px;
    display: flex;
    list-style-type: none;
    width: 45%;
    justify-content: space-around;
}
a{
    text-decoration: none;
    color: #048e75;
    font-family: sans-serif;
}

li::first-letter{
    font-size: 20px;
}

.active{
    color: #036150;
}

li a:hover{
    color: #036150;
}

@media (max-width: 1280px) and (min-width: 790px){
    #right, #left{
        left: 10px;
    }
}

@media (max-width: 1280px){
    #right{
        left: 10px;
    }
    #left{
        left: 10px;
    }
}

#first-para{
    line-height: 30px;
    color: rgba(0, 0, 0, 0.5);
}

#heading2{
    margin-top: 10%;
    font-size: 50px;
}

#emo1{
    vertical-align: middle;
    width: 150px;
    margin-left: -3%;
}

.div2{
    margin-top: 50px;
}

#head3{
    display: inline-block;
    vertical-align: middle;
    width: 39%;
}
#third-para{
    color: rgba(0, 0, 0, 0.5);
    text-align: justify;
    line-height: 30px;
    padding-left: 10%;
}

.div3{
    margin-top: 50px;
}
#head4{
    display: inline-block;
    vertical-align: middle;
    width: 39%;
}

#fourth-para{
    color: rgba(0, 0, 0, 0.5);
    text-align: justify;
    line-height: 30px;
    padding-right: 10%;
}
#emo2{
    vertical-align: middle;
    width: 150px;
}

#sub-para{
    color: #1ed4b3;
    font-size: 25px;
}

#help{
    font-family: 'Montserrat', sans-serif;
    color: #048e75;
    font-size: 40px;
    font-weight: bolder;
}

#fifth-para{
    color: rgba(0, 0, 0, 0.5);
    line-height: 30px;
}

.btn{
    margin-top: 50px;
}
#msg-btn{
    border: 1px solid #086d5b; 
    background-color: #039c80;
    padding: 10px 25px;
    font-size: 20px;
    border-radius: 3px;
    color: #036150;
}

#msg-btn:hover{
    background-color: #04876f;
}

.footer{
    width: 100%;
    margin-top: 150px;
    height: 130px;
    background-color: #E4F9F5;
}

#footer-para{
    padding-top: 25px;
    color: #048e75;
}

#copy{
    font-size: 13px;
    color: #048e75;
}

span{
    padding-bottom: 2px;
    border-bottom: 1px solid #048e75;
}